PORT=your_port
BASE_URL=your_base_url

NODE_ENV =your_environment
DB_USERNAME_DEVELOPMENT =your_username
DB_PASSWORD_DEVELOPMENT =your_password
DB_NAME_DEVELOPMENT =your_db_name
DB_HOST_DEVELOPMENT =your_host
DB_PORT_DEVELOPMENT =your_port
DB_DIALECT_DEVELOPMENT =your_dialect

DB_USERNAME_PRODUCTION =your_username
DB_PASSWORD_PRODUCTION =your_password
DB_NAME_PRODUCTION =your_db_name
DB_HOST_PRODUCTION =your_host
DB_PORT_PRODUCTION =your_port
DB_DIALECT_PRODUCTION =your_dialect
